/* styles.css */

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(195deg, #e3fbd6, #91c194); 
    background-size: 100% 100%;
    background-attachment: fixed;
}

header {
    height: 70px;
    background-color: #bbeeba;
    color: #000000; 
    text-align: center;
    padding: 1px; 
    position: fixed; 
    width: 100%; 
    top: 0; 
    z-index: 1000; 
}

header h1, header h3 {
    margin: 0;
}


header img {
    width: 52px; 
    height: auto; 
    position: absolute; 
    left: 9px; 
    margin-top: 9px;
}

footer {
    height: 50px;
    background-color: #bbeeba;
    color: #000000;
    text-align: center;
    padding: 0px;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1000;
}

.carrés {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px; 
    margin-top: 180px;
}

.carré {
    width: 350px;
    height: 150px;
    margin: 25px;
    background-color: rgba(235, 240, 203, 0.393); 
    padding-top: 20%;
    text-align: center;
    color: #000000; 
    border-radius: 25px;
    border: 2px solid #000000;
}

@media screen and (max-width: 765px) {
    .carrés {
        flex-direction: column;
        margin-top: 100px; 
        height: auto; 
        align-items: center; 
    }

    .carré {
        width: 70%;
        margin: 10px 0; 
    }
}

@media screen and (min-width: 1200px) {
    .carré {
        margin: 50px; 
    }
}

.bouttons {
    text-align: center; 
    margin-top: 100px;
    font-size: 24px; 
}

.on-off-button {
    display: inline-block;
    padding: 8px 15px;
    background-color: rgba(235, 240, 203, 0.393);
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
    width: 100px;
    margin: 0 5px;
    font-size: 18px;
}

.icon1, .icon2 {
    width: 30px;
    height: auto;
    vertical-align: middle;
}

.led, .volet {
    display: inline-block;
    margin-right: 10px;
}

@media screen and (max-width: 765px) {
    .bouttons {
        padding-bottom: 100px;
    }

    .on-off-button {
        width: 100px; 
        margin: 0 5px;
    }

    .led, .volet {
        margin-bottom: 30px;
    }
}



