<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page de connexion - Serre Miniature</title>
    <link rel="stylesheet" type="text/css" href="/static/styles_login.css">
</head>
<body>
	<form action="/login" method="POST"></form>
		<h1>Se connecter</h1>
		<label for="email">Email:</label><br>
		<input type="email" id="email" name="email" required><br>
		<label for="password">Mot de passe:</label><br>
		<input type="password" id="password" name="password" required><br>
		<input type="submit" value="Se connecter"><br>
		<p>Pas de compte? <a href="register.html">Inscription</a></p>
	</form>
</body>
</html>