<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil - Serre Miniature</title>
    <link rel="stylesheet" href="../Styles/styles.css">
</head>
<body>
    <header>
        <h1>Barbara</h1>
        <h3>Projet de Serre Miniature</h3>
        <a href="user">
            <h5>Mon Compte</h5>
            <div class="lock-icon">
                <div class="lock-circle"></div>
                <div class="lock-handle"></div>
                <div class="lock-hole"></div>
            </div>
        </a>
    </header>
    <main>
        <!-- Le contenu principal de la page va ici -->
        <section class="carrés">
            <div class="carré">
                <div class="valeur_centre">
                    <h3 class="w3-padding">Température</h3>
                    <p class="w3-xxlarge"><span id="temperature">{{ temperature }}</span></p>
                    <h3 class="w3-padding">Prédiction Température</h3>
                    <p class="w3-xxlarge"><span id="prediction_temperature">{{ prediction_temperature }}</span></p>
                </div>
            </div>
            <div class="carré carré-2">
                <div class="valeur_centre">
                    <h3 class="w3-padding">Humidité</h3>
                    <p class="w3-xxlarge"><span id="humidite">{{ humidite }}</span></p>
                    <h3 class="w3-padding">Prédiction Humidité</h3>
                    <p class="w3-xxlarge"><span id="prediction_humidite">{{ prediction_humidite }}</span></p>
                </div>
            </div>
            <div class="carré carré-3">
                <div class="valeur_centre">
                    <h3 class="w3-padding">Niveau de luminosité</h3>
                    <p class="w3-xxlarge"><span id="luminosite">{{ luminosite }}</span></p>
                    <h3 class="w3-padding">Prédiction du niveau de luminosité</h3>
                    <p class="w3-xxlarge"><span id="prediction_luminosite">{{ prediction_luminosite }}</span></p>
                </div>
            </div>
        </section>
        <section class="bouttons">
            
            <div class="led">
                <div class="ampoule">
                    <div class="rond_led"></div>
                    <div class="rectangle_led"></div>
                </div>
                <span>Leds :</span>
                <button id="led-on" class="on-off-button" onclick="sendRequest('/led/on')">On</button>
                <button id="led-off" class="on-off-button" onclick="sendRequest('/led/off')">Off</button>
            </div>
            <div class="volet">
                <div class="rectangles">
                    <div class="rectangle_1"></div>
                    <div class="rectangle_2"></div>
                    <div class="rectangle_3"></div>
                    <div class="rectangle_4"></div>
                </div>
                <span>Volets :</span>
                <button id="servo-on" class="on-off-button" onclick="sendRequest('/servo/on')">On</button>
                <button id="servo-off" class="on-off-button" onclick="sendRequest('/servo/off')">Off</button>
            </div>
        </section>
    </main>
    <footer>
        <!-- Le pied de page de la page va ici -->
        <p>&copy; 2024 Serre Miniature. Tous droits réservés.</p>
    </footer>

    <script>
        function sendRequest(endpoint) {
            var xhttp = new XMLHttpRequest();
            xhttp.open("GET", "http://192.168.4.1" + endpoint, true);
            xhttp.send();
        }
    </script>
</body>
</html>
